.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bg-dark, .dropdown-menu {
  background-color: rgb(29, 28, 28) !important;
}

.txt {
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 5rem;
  color:rgb(18, 17, 17)!important;
  font-weight: 400; 
  text-align: justify;
}
.p_color_dark {
  color:rgb(18, 17, 17)!important;
  font-weight: 400;
  
}
.featurette-heading {
  font-size: 50px;
}
.featurette-heading2 {
  font-size: 65px;
}
.quiz-title {
  font-size: x-large!important;
  font-weight: bold!important;
}